<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- <html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"> -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css"
        th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
</head>

<body>
    <!-- 
        http 常見狀態碼 :
        ----------正常代碼
        200 GET 成功正常請求和回應
        201 POST/PUT/PATCH 成功執行
        202 請求已進入後台排隊
        204 刪除數據成功
        ----------異常代碼
        401 用戶沒有資源的權限
        403 沒有訪問資源的授權
        404 找不到對應網頁資源
        500 後臺服務器出現異常
     -->
    <div class="container" style="max-width: 600px;margin-top: 100px;">
        <div class="jumpotron">
            <h2>404</h2>
            <!-- th:text="${#httpServletRequest.getAttribute('javax.servlet.error.request_uri')}" -->
            <!-- 這邊使用動態代入會整個讓後面的內容都消失不知道是URI的路徑錯誤還是怎麼樣反正是Thymeleaf的問題 -->
            <p>資源路徑[<code>hello</code>]不存在
            </p>
            <p>拍謝，你訪問的資源不存在</p>
        </div>
    </div>
</body>

</html>