<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>PasswordUpdate</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.ico" th:href="@{/images/icons/favicon.ico}" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css"
		th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css"
		th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css"
		th:href="@{/fonts/Linearicons-Free-v1.0.0/icon-font.min.css}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css" th:href="@{/vendor/animate/animate.css}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css"
		th:href="@{/vendor/css-hamburgers/hamburgers.min.css}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css"
		th:href="@{/vendor/animsition/css/animsition.min.css}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css"
		th:href="@{/vendor/select2/select2.min.css}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css"
		th:href="@{/vendor/daterangepicker/daterangepicker.css}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css" th:href="@{/css/util.css}">
	<link rel="stylesheet" type="text/css" href="css/main.css" th:href="@{/css/main.css}">
	<!--===============================================================================================-->
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
</head>

<body>

	<div class="limiter">
		<div class="container-login100" style="background-image: url('images/bg-01.jpg');">
			<div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
				<div class="alert alert-warning alert-dismissible fade show" role="alert"
					th:unless="${#strings.isEmpty(error)}">
					<span th:text="${error}">error</span>
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form class="login100-form validate-form flex-sb flex-w" method="POST" th:action="@{/password}">
					<span class="login100-form-title p-b-53">
						密碼修改
					</span>

					<div class="p-t-13 p-b-9">
						<span class="txt1" style="font-size: larger;">
							<b>舊密碼</b>
						</span>
					</div>
					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<input id="floatingPassword" class="input100" type="password" name="oldPassword"
							placeholder="請輸入舊的密碼">
						<span class="focus-input100"></span>
						<i class="fas fa-eye" id="checkEye"></i>
					</div>

					<div class="p-t-13 p-b-9">
						<span class="txt1" style="font-size: larger;">
							<b>新密碼</b>
						</span>
					</div>
					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<input id="floatingPassword2" class="input100" type="password" name="newPassword"
							placeholder="請輸入新的密碼">
						<span class="focus-input100"></span>
						<i class="fas fa-eye" id="checkEye2"></i>
					</div>

					<div class="p-t-13 p-b-9">
						<span class="txt1" style="font-size: larger;">
							<b>確認密碼</b>
						</span>
					</div>
					<div class="wrap-input100 validate-input" data-validate="Password-Check is required">
						<input id="floatingPassword3" class="input100" type="password" name="confirmPassword"
							placeholder="請再一次輸入新密碼">
						<span class="focus-input100"></span>
						<i class="fas fa-eye" id="checkEye3"></i>
					</div>

					<!-- 傳入會員各項其他資料 -->
					<!-- <input type="hidden" name="mname" th:value="*{mname}">
					<input type="hidden" name="phone" th:value="*{phone}">
					<input type="hidden" name="email" th:value="*{email}">
					<input type="hidden" name="maddress" th:value="*{maddress}"> -->


					<div class="container-login100-form-btn m-t-17">
						<button class="login100-form-btn" type="submit">
							確定
						</button>
					</div>
					<div class="container-login100-form-btn m-t-17">
						<button class="login100-form-btn" type="button">
							<!-- <a href="javascript:history.go(-1)" -->
							<a href="#" th:href="@{/products}"
								style="width:100%;height:100%;display:inline-block;color:white;font-size:medium;padding-top: 1rem;">
								返回
							</a>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>

	<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js" th:src="@{/vendor/jquery/jquery-3.2.1.min.js}"></script>
	<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js" th:src="@{/vendor/animsition/js/animsition.min.js}"></script>
	<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js" th:src="@{/vendor/bootstrap/js/popper.js}"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js" th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
	<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js" th:src="@{/vendor/select2/select2.min.js}"></script>
	<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js" th:src="@{/vendor/daterangepicker/moment.min.js}"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"
		th:src="@{/vendor/daterangepicker/daterangepicker.js}"></script>
	<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js" th:src="@{/vendor/countdowntime/countdowntime.js}"></script>
	<!--===============================================================================================-->
	<script src="js/main.js" th:src="@{/js/main.js}"></script>

</body>

</html>